<ul class="media_list">
    {% for media in paginator %}
        <li>
            {{ render_thumbnail(media) }}
            <h5>{{ media.label|truncate(40, false, '...')}}</h5>
            <a href="{{ asset(media.webpath) }}" target="_blank">{{ 'item.fullpage'|trans({}, 'messages') }}</a>
        </li>
    {% endfor %}
</ul>
{{ knp_pagination_render(paginator, '@NuxiaDynamicMedia/Pagination/sliding.html.twig') }}
